@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url("//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//variables
$primary-color: #4a4a4a;
$input-bg-color: #eeeeee;

//styles
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
}

.search{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fafafa;
  border-bottom: 1px solid $input-bg-color;
  input{
    background-color: $input-bg-color;
    color: #cccccc;
    text-align: center;
    font-family: 'Helvetica', FontAwesome, sans-serif;
    &:focus{
      box-shadow: none;
      border-color: $input-bg-color;
    }
  }
}
.app-list{
  margin-top: 80px;
}
